{% extends 'auth/auth-base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block styles%}
        {{ super() }}
          <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    {% endblock %}


{% block content %}

    <div class="container-fluid" style="background-image: url({{ url_for('static', filename='images/back.jpg') }}); background-size: cover; background-repeat: no-repeat; font-family: 'Playfair Display', serif;">

        <div class="row" style="margin-top: 200px;">

            <div class="col-sm-2 col-md-2 col-lg-2"></div>

            <div class="col-sm-5 col-md-5 col-lg-5" style="text-align: center;">

                <h1> pitch one 0 one </h1>

                <hr>

                <h3> Welcome to pitch one 0 one </h3>

                <br>

                <p>
                    In life you only have 60 seconds to impress someone. 1 minute to make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?
                </p>

                <p>
                    pitch one-0-one is a platform where users are given a minute to pitch their idea(s) and receive feedback from other users.
                </p>

            </div>

            <div class="col-sm-2 col-md-2 col-lg-2"></div>

            <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top: 50px;">

                <h2> Login </h2>

                <!--flash message -->
                {% for message in get_flashed_messages() %}

                    <div class="alert alert-danger">

                        <button type="button" class="close" data-dismiss="alert"> &times; </button>

                            {{ message }}

                    </div>

                {% endfor %}

                <!-- login form -->

                {{ wtf.quick_form(login_form) }}

                <p> Don't have an account? </p>

                <a class="btn btn-default" href="{{ url_for('auth.register') }}"> Sign Up </a>

            </div>

            <div class="col-sm-1 col-md-1 col-lg-1"></div>

        </div>

    </div>

{% endblock%}


</body>

</html>