<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    {% macro displayCategoryList(category_list) %}

        {% for category in category_list %}

            <div class="container">

                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                        <a href="/category/{{category.id}}">
                            {{category.name}}
                        </a>

                    </div>

                    <div class="col-md-2"></div>

                </div>

            </div>

        {% endfor %}

    {% endmacro %}


    {% macro displayPitchList(pitch_list) %}

        {% for pitch in pitch_list %}

            <div class="container">

                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                        <li>

                            <a href="{{url_for('main.single_pitch', id = pitch.id)}}">
                                {{pitch.title}}
                            </a>

                            <br>

                            <p> {{pitch.pitch}} </p>

                            <br>

                            <p> posted by {{ user.username }} </p>

                        </li>

                    </div>

                    <div class="col-md-2"></div>

                </div>

            </div>

        {% endfor %}

    {% endmacro %}


    {% macro displayReviewList(review_list) %}

        {% for review in review_list %}

            <div class="container">

                <div class="row">

                    <div class="col-md-2"></div>

                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                        <li>
                            <p> {{review.title}} </p>

                            <br>

                            <p> {{review.review}} </p>

                            <br>

                            <p> posted by {{ user.username }} </p>

                        </li>

                    </div>

                    <div class="col-md-2"></div>

                </div>

            </div>

        {% endfor %}

    {% endmacro %}

</body>
</html>