{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-md-2 col-lg-2">

            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8">

                {{ wtf.quick_form(category_form) }}

            </div>

            <div class="col-md-2 col-lg-2">

            </div>

        </div>
    </div>

{% endblock %}



</body>
</html>